* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #e8effd;
}
/** General styles for the header and navbar **/
.navBrand {
    float: left;
    margin: 0 10%;
}

#myHeader {
    height: 111px;
    position: relative;
}

#myHeader ul {
    list-style-type: none;
}

#myHeader ul li {
    float: left;
    margin: 41.5px 5% 0 0;
}

#myHeader li a {
    display: block;
    text-decoration: none;
    color: #1245A8;
    font-size: 1em;
    padding: 0 5px;
    transition: 0.8s ease-out;
}

#myHeader li a i {
    padding-left: 5px;
}

#myHeader li a:hover {
    font-size: 1.05em;
}
/** General styles for section one **/
.section1 {
    background: rgba(18, 69, 168, 0.24);
    width: 95vw;
    margin: auto;
    height: 500px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 58% 42%;
    overflow: hidden;
    position: relative;
}

.text {
    margin: 100px 0 200px 100px;
    font-size: 1.8vw;
    text-transform: capitalize;
}

.text .b-text {
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 15px 0;
}

.fade {
    animation: fade 4s ease;
}
  
@keyframes fade {
    from {
        opacity: .3;    
    } 
    to {
        opacity: 1;
    }
}

.move {
    animation: move 4s ease;
}

@keyframes move {
    from {
        width: 95%;
        height: 80%;
        opacity: .4;
    }
    to {
        width: 100%;
        height: 90%;
        opacity: 1;
    }
}
/** General styles for section two**/
.section2 {
    margin: auto;
    width: 60%;
    text-align: center;
    font-weight: 500;
    font-size: 1.5vw;
}

p em {
    font-style: normal;
    color: #FF8000;
}

.b-text2 {
    color: rgba(18, 69, 168, 1);
    font-weight: 600;
    font-size: 30px;
    padding: 25px 0;
    margin-bottom: 30px;
}
.learn-l {
    margin: 40px 0;
}
.learn-l a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(18, 69, 168, 0.8);
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 16px;
}
/** General styles for section three**/
.section3 {
    margin: auto;
    width: 80%;
    text-align: center;
}

.section3 img {
    width: 150px;
    height: 150px;
    margin: auto;
}

.clients {
    display: grid;
    grid-template-columns: 2% 96% 2%;
    
}

.client {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.prev, .next {
    font-size: 40px;
    margin-top: 45px;
    color:rgb(65, 60, 60, 0.5);
    transition: 1.5s ease;
}

.prev a, .next a {
    cursor: pointer;
}

.prev:hover, .next:hover {
    color:rgb(65, 60, 60, 1);
}

/* General styles for section four */
.section4 {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    border-top: 1px dashed rgb(189, 184, 184);
    border-bottom: 1px dashed rgb(189, 184, 184);
}

.section4 p {
    padding-top: 20px;
}

.section4 p a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(18, 69, 168, 0.8);
    padding: 8px 45px;
    border-radius: 5px;
    font-size: 14px;
}

.fa-headset, .fa-play-circle {
    color: #FF8000;
    padding-left: 10px;
}

.section5, .oCreed {
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

.oCreed {
    display: grid;
    color: #1245A8;
    font-weight: 500;
    grid-template-columns: 24% 48% 24%;
    grid-column-gap: 2%;
    margin-bottom: 40px;
}

.f-creed {
    margin-bottom: 50px;
}
p.creedcolor {
     color: #FF8000;
}

.lines .hl {
    border-top: 1.5px solid rgba(104, 104, 104, 0.5);
    margin-top: 10px;
}

.lines:nth-child(2) {
    border-bottom: 1.5px solid rgba(104, 104, 104, 0.5);
    margin-bottom: 10px;
}

.lines p:nth-child(3) {
    transform: rotate(180deg);
    position: absolute;
    left: 49.1%;
    top: 90px;
    font-size: 4vw;
    color: rgba(104, 104, 104, 0.5);
}

.lines .vl {
    border-right: 1.5px solid rgba(104, 104, 104, 0.5);
    height: 16.8vh;
    position: absolute;
    left: 50%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.request {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 80px 0px;
}

.request a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(18, 69, 168, 0.8);
    padding: 5px 50px;
    border-radius: 5px;
    font-size: 16px;
}

/** General styles for section six **/
.section6 {
    display: grid;
    width: 85%;
    margin: auto;
    color: rgba(18, 69, 168, 1);
    font-size: 13px;
    font-weight: 500;
    grid-template-columns: 32% 32% 36%;
}

.section6 ul {
    list-style-type: none;
}

.offer ul li {
    padding: 21.5px 0px;
}

.offer ul li:nth-child(1) {
    padding-top: 0;
}

.contact p {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
}

.contact ul li {
    padding: 5px 0;
}

.contact ul li:nth-child(odd) {
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 0;
}

.contact ul li:nth-child(9) {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
}

footer {
    margin: 30px 0;
    color: rgba(18, 69, 168, 0.9);
}

footer p {
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

footer p a {
    margin: 0 5%;
    color: rgba(18, 69, 168, 0.85);
}

footer p a:nth-child(3) {
    color: rgba(138, 58, 185, 1);
}

footer p a:nth-child(1) {
    color: rgba(29, 161, 242, 1);
}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 576px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 576px) and (max-width: 767px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    #myHeader li a {
        font-size: 0.85em;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

}
